<!-- <article class="bg-dark">
  <div id="wrapper">
    <div class="page-content">


     <div class="page-content-inner">

         <h4>Account Setting</h4>

         <nav class="responsive-tab mb-4">
             <li class="uk-active"><a href="#">Account</a></li>
             <li><a href="#">Billing</a></li>
             <li><a href="#">Setting</a></li>
         </nav>

         <div uk-grid="">

             <div class="uk-width-2-5@m uk-flex-last@m">

                 <div class="uk-card-default rounded text-center p-4">
                     <div class="uk-position-relative my-4">

                             <div class="user-profile-photo  m-auto">
                                 <img  src="..\assets\images\avatars\home-profile.jpeg" alt="">
                             </div>



                         <div class="uk-position-center">
                             <div uk-form-custom="">
                                 <input hidden type="file" >
                                 <span class="uk-link icon-feather-camera icon-medium text-white"> </span>
                             </div>

                         </div>
                     </div>

                     <a class="btn btn-default m-auto mb-3">Save photo</a>

                 </div>
             </div>
             <div class="uk-width-expand@m">

                 <div class="uk-card-default rounded">
                     <div class="p-3">
                         <h5 class="mb-0"> Editar Perfil</h5>
                     </div>
                     <hr class="m-0">


                     <form (ngSubmit)="onSaveUser(profileForm.value)" [formGroup]="profileForm">
                      <div class="profile-card">
                        <div>
                          <div class="label bottom">
                            <p>Cambiar Foto de Perfil</p>
                            <img class="user-profile-photo uk-link m-auto" [src]="currentImage" (click)="inputImageProfile.click()" />
                            <input hidden type="file" #inputImageProfile formControlName="photoURL"
                              (change)="handleImage(($event?.target?.files)[0])" />
                          </div>

                        </div>
                        <div>
                          <div>
                            <label>Name</label>
                            <input matInput placeholder="Name" formControlName="displayName">
                          </div>

                          <div>
                            <label>Email</label>
                            <input matInput placeholder="Email" formControlName="email">
                          </div>
                          <div class="mat-dialog-actions">
                            <input type="submit" class="mat-flat-button" value="Save" />
                          </div>
                        </div>
                      </div>
                    </form>

                 </div>



             </div>

         </div>


     </div>

 </div>
  </div>
</article> -->


<article class="bg-dark">
  <div id="wrapper">
    <div class="page-content">

      <div class="page-content-inner">

        <h4 class="text-white">Editar Perfil</h4>

        <!-- <nav class="responsive-tab mb-4">
            <li class="uk-active text-white"><a href="#">Account</a></li>
            <li class="text-white"><a href="#">Billing</a></li>
            <li class="text-white"><a href="#">Setting</a></li>
        </nav> -->

        <div uk-grid="">

            <!-- <div class="uk-width-2-5@m uk-flex-last@m">

                <div class="uk-card-default rounded text-center p-4">
                    <div class="uk-position-relative my-4">

                            <div class="user-profile-photo  m-auto">
                                <img src="..\assets\images\avatars\home-profile.jpeg" alt="">
                            </div>



                        <div class="uk-position-center">
                            <div uk-form-custom="">
                                <input type="file">
                                <span class="uk-link icon-feather-camera icon-medium text-white"> </span>
                            </div>

                        </div>
                    </div>

                    <a class="btn btn-default m-auto mb-3">Save photo</a>

                </div>
            </div> -->

            <div class="uk-width-expand@m">

                <div class="uk-card-default rounded">
                    <div class="p-3">
                        <h5 class="mb-0"> USUARIO </h5>
                    </div>
                    <hr class="m-0">
                    <form (ngSubmit)="onSaveUser(profileForm.value)" [formGroup]="profileForm" class="uk-child-width-1-2@s uk-grid-small p-4" uk-grid="">
                        <div>
                            <h5 class="uk-text-bold mb-2"> Nombre de Usuario </h5>
                            <input formControlName="displayName" type="text" class="uk-input" placeholder="Your name">
                        </div>
                        <div>
                            <h5 class="uk-text-bold mb-2"> Seccond Name </h5>
                            <input type="text" class="uk-input" placeholder="Your seccond">
                        </div>
                        <div>
                            <h5 class="uk-text-bold mb-2"> Correo </h5>
                            <input formControlName="email" type="text" class="uk-input" placeholder="eliedaniels@gmail.com">
                        </div>
                        <div>
                            <h5 class="uk-text-bold mb-2"> Phone </h5>
                            <input type="text" class="uk-input" placeholder="+1 555 623 568 ">
                        </div>

                    <!-- <div class="uk-flex uk-flex-right p-4">
                        <button class="btn btn-link mr-2">Cancle</button>
                        <button class="btn btn-default grey">Save Changes</button>
                    </div> -->

                    <div class="p-3">
                        <h5 class="mb-0"> Billing address
                    </h5></div>
                    <hr class="m-0">
                        <div>
                            <h5 class="uk-text-bold mb-2"> Number </h5>
                            <input type="text" class="uk-input" placeholder="23, Block C2 ">
                        </div>
                        <div>
                            <h5 class="uk-text-bold mb-2"> Street </h5>
                            <input type="text" class="uk-input" placeholder="Street Number">
                        </div>
                        <div>
                            <h5 class="uk-text-bold mb-2"> City </h5>
                            <input type="text" class="uk-input" placeholder="City Name">
                        </div>
                        <div>
                            <h5 class="uk-text-bold mb-2"> Postal Code </h5>
                            <input type="text" class="uk-input" placeholder="Postal Code">
                        </div>
                        <div>
                            <h5 class="uk-text-bold mb-2"> State </h5>
                            <input type="text" class="uk-input" placeholder="State">
                        </div>
                        <div>
                            <h5 class="uk-text-bold mb-2"> Country </h5>
                            <input type="text" class="uk-input" placeholder="Your Country">
                        </div>

                        <div class="uk-width-2-5@m uk-flex-last@m">

                          <div class="uk-card-default rounded text-center p-4">
                              <div class="uk-position-relative my-4">

                                      <div class="user-profile-photo uk-link m-auto">
                                          <img style="border-radius: 50%; border: 1px #000 solid;" [src]="currentImage" (click)="inputImageProfile.click()" alt="">
                                      </div>

                                  <div class="uk-position-center">
                                      <div uk-form-custom="">
                                          <input  hidden type="file" #inputImageProfile formControlName="photoURL"
                                          (change)="handleImage(($event?.target?.files)[0])" >
                                          <span class="uk-link text-primary icon-feather-camera icon-medium text-white"> </span>
                                      </div>

                                  </div>
                              </div>

                              <!-- <a class="btn btn-default m-auto mb-3">Save photo</a> -->

                          </div>
                      </div>

                    </form>
                    <div class="uk-flex uk-flex-right p-4">
                        <button class="btn btn-link mr-2">Cancle</button>
                        <button class="btn btn-default grey">Save Changes</button>
                    </div>
                </div>

            </div>

        </div>



        <!-- footer
       ================================================== -->
        <div class="footer">
            <div class="uk-grid-collapse" uk-grid="">
                <div class="uk-width-expand@s uk-first-column">
                    <p>© 2019 <strong>Courseplus</strong>. All Rights Reserved. </p>
                </div>
                <div class="uk-width-auto@s">
                    <nav class="footer-nav-icon">
                        <ul>
                            <li><a href="#"><i class="icon-brand-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-brand-dribbble"></i></a></li>
                            <li><a href="#"><i class="icon-brand-youtube"></i></a></li>
                            <li><a href="#"><i class="icon-brand-twitter"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>


    </div>
    </div>
  </div>
</article>
